<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FoodShare</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UploadPickup</display-name>
    <servlet-name>UploadPickup</servlet-name>
    <servlet-class>com.foodshare.UploadPickup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPickup</servlet-name>
    <url-pattern>/UploadPickup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPickupImage</display-name>
    <servlet-name>DisplayPickupImage</servlet-name>
    <servlet-class>com.foodshare.DisplayPickupImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPickupImage</servlet-name>
    <url-pattern>/DisplayPickupImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayDeliveryImage</display-name>
    <servlet-name>DisplayDeliveryImage</servlet-name>
    <servlet-class>com.foodshare.DisplayDeliveryImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayDeliveryImage</servlet-name>
    <url-pattern>/DisplayDeliveryImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadDelivery</display-name>
    <servlet-name>UploadDelivery</servlet-name>
    <servlet-class>com.foodshare.UploadDelivery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadDelivery</servlet-name>
    <url-pattern>/UploadDelivery</url-pattern>
  </servlet-mapping>
</web-app>